* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    border-bottom: 2px solid #CCC;
    height: 56px;
}

.border {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
   transition: all .5s; 
}

.border::after {
    content: "";
    background-color: #CCC;
    position: absolute;
    bottom: -2px;
    left: 50%;
    height: 1px;
    width: 0;
    transition: all 0.5s;

}

.container:focus-within .border::after {
    background-color: rgb(30, 78, 235);
    height: 3px;
    width: 100%;
    left: 0;
}

.label {
    position: absolute;
    color: #a1a1a1;
    font-size: 32px;
    left: 0;
    bottom: 4px;
}

.input {
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 24px;
    width: 500px;
    transition: all 1s;
    color: #333;
}

.input:focus + .label {
    animation: shrinkLabel 0.5s forwards ease-in-out;
}

.filled-unfocused-input {
    font-size: 12px !important;
    top: 0 !important;
}

.unfilled-unfocused-input {
    animation: expandLabel 0.5s forwards ease-in-out;
}

@keyframes shrinkLabel {
    0% {
        font-size: 24px;
        bottom: 4px;
    }

    100% {
        font-size: 12px;
        top: 0;
    }
}

@keyframes expandLabel {
    0% {
        font-size: 12px;
        top: 0;
    }

    100% {
        font-size: 24px;
        bottom: 4px;
    }
}
